/* ********* */
/* @HOME */
/* ********* */

.contenedor {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  padding: 100px 80px;
  justify-items: center;

  $contador: 0;
  @each $color in map-keys($coloresVerdesPlanos) {
    $contador: $contador + 1;
    .rectangulo#{$contador}{
      height: 100%;
      width: 100%;
      border-radius: 50vh;
      background-color: map-get($coloresVerdesPlanos, $color);
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
    }
  }

  $siguiente: 0;
  @for $i from 1 through 5 {
    .circulo#{$i} {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: linear-gradient(
        to right,
        map-get($coloresVerdesDegradados, degradado#{$i + $siguiente}),
        map-get($coloresVerdesDegradados, degradado#{$i + 1 + $siguiente})
      );
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
      // contador para saltar de 2 en 2 las posiciones de los degradados
      $siguiente: $siguiente + 1;
    }
  }
}
